<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>number</key>
		<integer>1</integer>
		<key>question</key>
		<string>下列哪家公司的价值观可能存在冲突？</string>
		<key>answer</key>
		<string>c</string>
		<key>option</key>
		<dict>
			<key>a</key>
			<string>以用户为中心，其他一切自然水到渠成 /专心将一件事做到极致/越快越好/网络上也讲民主/信息随时随地可得/赚钱不必作恶/信息无极限/信息需求无国界/认真不在着装/追求无止境</string>
			<key>b</key>
			<string>责任感/合作者/同情心/多元化</string>
			<key>c</key>
			<string>想清楚再承诺/承诺就要兑现/公司利益至上/每一年每一天我们都在进步/敢为天下先</string>
			<key>d</key>
			<string>领导力/同心协作/诚信/承担责任/激情/多样性/品质</string>
		</dict>
	</dict>
	<dict>
		<key>number</key>
		<integer>2</integer>
		<key>question</key>
		<string>下列哪家公司的价值观陈述可能不利于创新？</string>
		<key>answer</key>
		<string>b</string>
		<key>option</key>
		<dict>
			<key>a</key>
			<string>用户至上/创业心态/持续创新/不断反思/开放协作</string>
			<key>b</key>
			<string>想清楚再承诺/承诺就要兑现/公司利益至上/每一年每一天我们都在进步/敢为天下先</string>
			<key>c</key>
			<string>简单可依赖</string>
			<key>d</key>
			<string>正直/进取/合作/创新</string>
		</dict>
	</dict>
	<dict>
		<key>number</key>
		<integer>3</integer>
		<key>question</key>
		<string>企业社会责任陈述可以告诉产品经理以下信息：</string>
		<key>answer</key>
		<string>d</string>
		<key>option</key>
		<dict>
			<key>a</key>
			<string>产品开发的评审依据</string>
			<key>b</key>
			<string>用户对象</string>
			<key>c</key>
			<string>Stakeholders</string>
			<key>d</key>
			<string>以上都是</string>
		</dict>
	</dict>
	<dict>
		<key>number</key>
		<integer>4</integer>
		<key>question</key>
		<string>企业社会责任陈述通常不能告诉产品经理以下信息：</string>
		<key>answer</key>
		<string>d</string>
		<key>option</key>
		<dict/>
		<key>a</key>
		<string>产品开发的评审依据</string>
		<key>b</key>
		<string>用户对象</string>
		<key>c</key>
		<string>Stakeholders</string>
		<key>d</key>
		<string>盈利目标</string>
	</dict>
	<dict>
		<key>number</key>
		<integer>5</integer>
		<key>question</key>
		<string>以下说法正确的是：</string>
		<key>answer</key>
		<string>c</string>
		<key>option</key>
		<dict>
			<key>a</key>
			<string>当产品开发和企业战略不一致时，必须暂停该产品开发</string>
			<key>b</key>
			<string>企业战略束缚产品创新时，产品经理应当立即修正战略</string>
			<key>c</key>
			<string>可以通过关口审核来排除和企业战略不一致的新产品开发</string>
			<key>d</key>
			<string>评审战略符合度是每个关口应当设置的必要审核标准</string>
		</dict>
	</dict>
</array>
</plist>
